<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="search" href="http://cliluva-p5-sc-teresa.wikispaces.com/space/opensearch" type="application/opensearchdescription+xml" title="Búsqueda de Wikispaces (CLILUVA-P5-SC-TERESA Wiki)" />
<link rel="alternate" title="CLILUVA-P5-SC-TERESA - All Changes" href="xmla-v=rss_2_0.rss" type="application/rss+xml" />
<style type="text/css">

.messageSummary, .messageBody .wiki {
  cursor: pointer;
}

.ws-day-panel {
  border: none !important;
  box-shadow: none !important;
}

.ws-day-panel .panel-heading {
  border-radius: 0 !important;
  border-width: 1px !important;
  border-style: solid !important;
  cursor: pointer !important;
}

</style>
<script type="text/javascript">
  
if (typeof ws === 'undefined') ws = {};
ws.context = {
  instance: {
    id: '1',
    url: 'wikispaces.com',
    isMain: true,
    supportsGoogleDocs: false,
    isTesClassroom: false,
  },
  user: {
    id: '',
    username: '',
    status: '',
    locale: 'es_ES',
    imageUrlPrefix: 'http://c1.wikicdn.com/i/user_none_',
    isTeacher: false,
    canAdministerWiki: false,
  },
  wiki: {
    id: '3130207',
    name: 'cliluva-p5-sc-teresa',
    text: 'CLILUVA-P5-SC-TERESA',
    module: 'B',
    isClassroom: false,
    isTesClassroom: false
    ,defaultSpaceId: 3130207
    ,isWwwWiki: false
  },
  project: {
    id: '3130207',
    name: ''
  },
  space: {
    id: '3130207',
    name: 'cliluva-p5-sc-teresa',
    isDefaultSpace: true,
    isDefaultTemplate: false
  },

  environment_name: 'prod',

  path: {
    object: 'wiki',
    method: 'changes',
    page: '',
    id: ''
  },

  settings: {
    main_domain: 'wikispaces.com',
    session_url: 'https://session.wikispaces.com/1/',
    asset_url_prefix: 'http://c1.wikicdn.com',
    beta_features: false,
    isMobileSite: false,
    isUploadCapable: true,
    can_discuss: false,
    has_gdocs: false,
    isDialog: false,
    pwin: ''
  },
  clockSkewMillis: 1525301405395 - ((window.performance && window.performance.timing.responseStart > 0) ? window.performance.timing.responseStart : (new Date()).getTime())
}


// legacy javascript API variables, use the above instead
var wikispaces_isUserLoggedIn = !!ws.context.user.id;
var wikispaces_isMain = ws.context.instance.isMain;
var wikispaces_username = ws.context.user.username;
var wikispaces_spaceName = ws.context.space.name;
var wikispaces_projectName = ws.context.project.name;
var wikispaces_wikiName = ws.context.wiki.name;
var wikispaces_wikiText = ws.context.wiki.text;
var wikispaces_isDefaultSpace = ws.context.space.isDefaultSpace;
var wikispaces_method = ws.context.path.method;
var wikispaces_object = ws.context.path.object;
var wikispaces_page = ws.context.path.page;
var wikispaces_id = ws.context.path.id;
var wikispaces_domain = ws.context.instance.url;
var wikispaces_isUserOrganizer = false;
var wikispaces_main_domain = ws.context.settings.asset_url_prefix;
var wikispaces_asset_url_prefix = ws.context.settings.asset_url_prefix;
var wikispaces_beta_features = ws.context.settings.beta_features;
var wikispaces_isMobileSite = ws.context.settings.isMobileSite;
var wikispaces_isUploadCapable = ws.context.settings.isUploadCapable;
var wikispaces_can_discuss = ws.context.settings.can_discuss;
var wikispaces_has_gdocs = ws.context.settings.has_gdocs;

</script><title>CLILUVA-P5-SC-TERESA - Changes</title>
<meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="144x144" href="http://c1.wikicdn.com/_/z6371z4x/i/logo-144.png" />
<link rel="apple-touch-icon" sizes="114x114" href="http://c1.wikicdn.com/_/j5j77xz3/i/logo-114.png" />
<link rel="apple-touch-icon" sizes="72x72" href="http://c1.wikicdn.com/_/vq8j5432/i/logo-72.png" />
<link rel="apple-touch-icon" href="http://c1.wikicdn.com/_/38515190/i/logo-57.png" />
<link rel="shortcut icon" href="http://c1.wikicdn.com/_/55v9k02z/i/logo-16.png" />
<style type="text/css">
/* Standard theme styles */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
.ws-theme-header-inner,
.ws-theme-body-inner,
.ws-theme-footer-inner,
.ws-theme-content-inner,
.ws-theme-sidebar-inner {
  position: relative;
}
.ws-theme-header-inner:after,
.ws-theme-body-inner:after,
.ws-theme-footer-inner:after,
.ws-theme-content-inner:after,
.ws-theme-sidebar-inner:after,
.ws-theme-menu-inner:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.ws-theme-content, .ws-theme-sidebar {
  overflow-x: auto;
}
.ws-theme-footer {
  text-align: right;
}
.ws-theme-footer a, .ws-theme-footer a:hover {
  text-decoration: none;
}
@media (min-width: 768px) {
  .ws-theme-container {
    width: 750px;
    margin-right: auto;
    margin-left: auto;
  }
  .ws-theme-content {
    width: 550px;
    min-height: 384px;
    float: right;
  }
  .ws-theme-sidebar {
    width: 200px;
    float: left;
  }
}
@media (min-width: 992px) {
  .ws-theme-container {
    width: 970px;
  }
  .ws-theme-content {
    width: 770px;
    min-height: 496px;
  }
}
@media (min-width: 1200px) {
  .ws-theme-container {
    width: 1170px;
  }
  .ws-theme-content {
    width: 970px;
    min-height: 600px;
  }
}
/* End standard theme styles */
</style>
<style type="text/css">
/* Theme-specific styles */
body {
  background-color: #FFFF8F;
}

.ws-theme-header .WikiSearch .WikiSearchInput,
.ws-theme-sidebar .WikiSearch .WikiSearchInput,
.ws-theme-footer .WikiSearch .WikiSearchInput {
  width: 100%;
}

.ws-theme-header a,
.ws-theme-sidebar a,
.ws-theme-footer a {
  color: inherit;
  text-decoration: none;
}
.ws-theme-header a:hover,
.ws-theme-sidebar a:hover,
.ws-theme-footer a:hover {
  text-decoration: underline;
}
.ws-theme-header img,
.ws-theme-sidebar img,
.ws-theme-footer img {
  border: none;
}

.ws-theme-header,
.ws-theme-sidebar {
  display: none;
}

.ws-theme-sidebar,
.ws-theme-footer {
  color: #000000;
}

.ws-theme-body-inner {
  padding: 8px 5px;
}

.ws-theme-content {
  overflow-x: visible;
}
.ws-theme-content-inner {
  background-color: #FFF;
  padding: 15px;
}

.ws-theme-footer {
  font-size: 12px;
}
.ws-theme-footer-inner {
  padding: 0 15px 15px 15px;
}
.ws-theme-footer .WikiLicense img {
  vertical-align: text-bottom;
}

@media (min-width: 768px) {
  .ws-theme-container {
    width: auto;
  }

  .ws-theme-header,
  .ws-theme-sidebar {
    display: block;
  }

  .ws-theme-header {
    color: #FFF;
    background: #EDB200 url('http://c1.wikicdn.com/_/94v39788/i/theme_swoop.png') no-repeat 100% -25px;
  }
  .ws-theme-header-inner {
    padding: 15px 0;
  }

  .ws-theme-body-inner {
    padding: 15px;
  }

  .ws-theme-content {
    width: auto;
    float: none;
    margin-left: 215px;
  }
  .ws-theme-content-inner {
    width: 100%;
    float: left;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.25);
  }

  .ws-theme-sidebar .WikiActions {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .ws-theme-sidebar .WikiActions > li {
    padding: 2px;
  }
  .ws-theme-sidebar .WikiCustomNav ol {
    padding-left: 16px;
  }
  .ws-theme-sidebar .WikiCustomNav ol.includePageList {
    padding-left: 0;
  }
  .ws-theme-sidebar .ws-theme-nav-edit {
    color: #666;
    text-align: center;
  }
}
/* End theme-specific styles */
</style>
<link rel="stylesheet" href="http://www.wikispaces.com/stylesheet/viewi/217420326D.gz.css" type="text/css" />
<link rel="stylesheet" href="http://c1.wikicdn.com/s/gz/9jvvjv40-internal-bootstrap.css" type="text/css" />
<link rel="stylesheet" href="http://c1.wikicdn.com/s/gz/vz033906-internal.css" type="text/css" />
<script src="http://c1.wikicdn.com/s/gz/37k36364-top.min.js" type="text/javascript"></script>

<script type="text/javascript">
  var _gaq = _gaq || [];

  var wsGoogleAccount = 'UA-80504-1';
  _gaq.push(['_setAccount', wsGoogleAccount]);
  _gaq.push(['_gat._anonymizeIp']);
  _gaq.push(['_setDomainName', 'wikispaces.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_setCustomVar', 2, 'Authenticated', 'Guest', 2]);
  _gaq.push(['_trackPageview']);
</script></head>
<body><a href="changes-latest_date_team=0&latest_id_team=0&latest_date_project=0&latest_id_project=0&latest_date_file=1263644966&latest_id_file=113871677&latest_date_page=1263645698&latest_id_page=113872531&latest_date_user_add=1263645698&latest_id-10ac8896bf49e00f.html#WikiContent" class="hidden sr-only sr-only-focusable">Skip to main content</a><div id="js-fixed-header-holder" class="fixed"><div class="WikispacesContent WikispacesBs3" role="banner">
      
    <div class="ws-main-top-nav visible-xs">
    <div class="navbar navbar-static-top" style="margin-bottom: 0;">
      <div class="container">
                <div class="navbar-header">
          <div class="visible-xs pull-left">
            <a href="/space/menu" class="WikispacesDialogLink btn navbar-btn">
              <i class="fa fa-bars"></i>
            </a>
          </div>
          <div class="visible-xs pull-right js-globalnav-popover-container">
                        <a href="http://www.wikispaces.com/site/signin?goto=http://cliluva-p5-sc-teresa.wikispaces.com/wiki/changes?latest_date_team=0&latest_id_team=0&latest_date_project=0&latest_id_project=0&latest_date_file=1263644966&latest_id_file=113871677&latest_date_page=1263645698&latest_id_page=113872531&latest_date_user_add=1263645698&latest_id_user_add=0&latest_date_user_del=1263645698&latest_id_user_del=0&latest_date_tag_add=1263645698&latest_id_tag_add=0&latest_date_tag_del=1263645698&latest_id_tag_del=0&latest_date_wiki=1263641798&latest_id_wiki=3130207&o=12" class="btn navbar-btn ws-mobile-guest-username js-globalnav-popover-trigger">
              guest
            </a>
                        <div class="hidden js-globalnav-popover-content">
              <div class="WikispacesContent WikispacesBs3">
                <div class="WikiInternalHeaderNav noHide">
  <div class="WikiInternalHeaderNavMenu">
                          
                  <span class="WikiInternalHeaderNavMenuArea"><a href="http://www.wikispaces.com/user/join?goto=http://cliluva-p5-sc-teresa.wikispaces.com/space/join" rel="nofollow" class="WikispacesXDomainDialogLink">Únete</a></span>

          <span class="divider">|</span>
        
        <span class="WikiInternalHeaderNavMenuArea"><a class="js-help-trigger" rel="nofollow" href="http://helpcenter.wikispaces.com/">Ayuda</a></span>

        <span class="divider">|</span>
      
      <span class="WikiInternalHeaderNavMenuArea"><a href="http://www.wikispaces.com/site/signin?goto=http://cliluva-p5-sc-teresa.wikispaces.com/wiki/changes?latest_date_team=0&latest_id_team=0&latest_date_project=0&latest_id_project=0&latest_date_file=1263644966&latest_id_file=113871677&latest_date_page=1263645698&latest_id_page=113872531&latest_date_user_add=1263645698&latest_id_user_add=0&latest_date_user_del=1263645698&latest_id_user_del=0&latest_date_tag_add=1263645698&latest_id_tag_add=0&latest_date_tag_del=1263645698&latest_id_tag_del=0&latest_date_wiki=1263641798&latest_id_wiki=3130207&o=12" rel="nofollow" class="WikispacesXDomainDialogLink">Iniciar Sesión</a></span>
      </div>
</div>              </div>
            </div>
          </div>
          <div class="ws-navbar-middle-xs">
            <div class="navbar-brand" role="navigation">
              <a href="http://www.wikispaces.com/" class="ws-logo"></a>
              <i class="fa fa-angle-right"></i>
              <a href="../index.html">CLILUVA-P5-SC-TERESA</a>
                              <i class="fa fa-angle-right"></i> <a href="../home-responseToken=04d8be3b5815f337cb624c839f082ad93.html">Página de inicio</a>
              
            </div>
          </div>
                    <form action="/search/view" method="post" class="navbar-form ws-include-xs pull-left ws-navbar-search hidden-xs" role="search"><input type="hidden" name="wikispacesFormToken" value="343101cae67200bdb89a0516926275414e925d61"/><input type="text" class="form-control search-query" name="q" value="" placeholder="Búsqueda" /> </form>
                  </div>
      </div>
    </div>
  </div>
      <div class="hidden-xs"><div class="WikiInternalHeaderNav WikiElement floating">
  <div class="WikiInternalHeaderNavMenu">
                                    <span class="WikiInternalHeaderNavMenuArea guestUserName">guest</span><span class="slideMarker divider">|</span>
        
                  <span class="WikiInternalHeaderNavMenuArea"><a href="http://www.wikispaces.com/user/join?goto=http://cliluva-p5-sc-teresa.wikispaces.com/space/join" rel="nofollow" class="WikispacesXDomainDialogLink">Únete</a></span>

          <span class="divider">|</span>
        
        <span class="WikiInternalHeaderNavMenuArea"><a class="js-help-trigger" rel="nofollow" href="http://helpcenter.wikispaces.com/">Ayuda</a></span>

        <span class="divider">|</span>
      
      <span class="WikiInternalHeaderNavMenuArea"><a href="http://www.wikispaces.com/site/signin?goto=http://cliluva-p5-sc-teresa.wikispaces.com/wiki/changes?latest_date_team=0&latest_id_team=0&latest_date_project=0&latest_id_project=0&latest_date_file=1263644966&latest_id_file=113871677&latest_date_page=1263645698&latest_id_page=113872531&latest_date_user_add=1263645698&latest_id_user_add=0&latest_date_user_del=1263645698&latest_id_user_del=0&latest_date_tag_add=1263645698&latest_id_tag_add=0&latest_date_tag_del=1263645698&latest_id_tag_del=0&latest_date_wiki=1263641798&latest_id_wiki=3130207&o=12" rel="nofollow" class="WikispacesXDomainDialogLink">Iniciar Sesión</a></span>
      </div>
</div></div>
  </div></div><div id="js-fixed-header-offset">
<header class="ws-theme-header" role="banner">
  <div class="ws-theme-container">
    <div class="ws-theme-header-inner">
      
<table class="WikiLogoTable WikiElement">
<tr>
  <td>
    <a href="../index.html"><img src="http://c1.wikicdn.com/i/logo-shadow-40.png" alt="" width="40" height="40" /></a>
  </td>
  <td class="WikiLogoName">
    <a href="../index.html">CLILUVA-P5-SC-TERESA</a>
  </td>
</tr>
</table>    </div>
  </div>
</header>

<div class="ws-theme-body">
  <div class="ws-theme-container">
    <div class="ws-theme-body-inner">
      <nav class="ws-theme-sidebar" role="navigation">
        <div class="ws-theme-sidebar-inner">
          <div class="ws-theme-menu">
            <div class="ws-theme-menu-inner">
              <ul class="WikiActions WikiElement WikiControls">
    <li id="WikiActionHome"><div><span class="WikiActionSupplemental" style="float: right;"></span><a href="../index.html"><i class="fa fa-home fa-fw"></i></a><a href="../index.html">Inicio del wiki</a></div></li>
    <li id="WikiActionChanges"><div><span class="WikiActionSupplemental" style="float: right;"></span><a href="changes.html"><i class="fa fa-clock-o fa-fw"></i></a><a href="changes.html">Cambios Recientes</a></div></li>
    <li id="WikiActionPagesAndFiles"><div><span class="WikiActionSupplemental" style="float: right;"></span><a href="/space/content"><i class="fa fa-file-text-o fa-fw"></i></a><a href="/space/content">Pages and Files</a></div></li>
    <li id="WikiActionMembers"><div class="js-member-link"><span class="WikiActionSupplemental" style="float: right;"></span><a href="/wiki/members"><i class="fa fa-user fa-fw"></i></a><a href="/wiki/members">Miembros</a></div></li>
</ul>
              <form action="/search/view" method="post" class="WikiSearch WikiElement" role="search"><input type="text" class="form-control WikiSearchInput" name="q" value="" placeholder="Búsqueda" /> </form>              <div class="WikiCustomNav WikiElement wiki"><!-- ws:start:WikiTextIncludeRule:0:&lt;img src=&quot;http://www.wikispaces.com/site/embedthumbnail/include/navigation?w=200&amp;h=100&quot; class=&quot;WikiMedia WikiMediaInclude&quot; id=&quot;wikitext@@include@@component=&amp;quot;navigation&amp;quot;&quot; title=&quot;Include navigation: component=&amp;quot;navigation&amp;quot;&quot; /&gt; --><div class="WikispacesNavbar" data-spaceid="3130207" data-navbarurl="/navbar">
  <div id="WikispacesNavbarFavoritesEntry" data-entryid="179412" class="WikispacesNavbarEntry">
  <div class="WikispacesNavbarEntryHeader">
        <span class="fa-fw"><i class="WikispacesNavbarToggle WikispacesNavbarPlus fa fa-caret-right"></i><i class="WikispacesNavbarToggle WikispacesNavbarMinus fa fa-caret-down"></i></span><span>Favorites&nbsp;<i class="fa fa-star"></i></span>
  </div>
  <div class="WikispacesNavbarEntryItems" id="WikispacesNavbarFavoritesEntryItems">
    <span class="hidden WikispacesNavbarNum">20</span>
<ol>
</ol>
  </div>
</div>  <div id="WikispacesNavbarAllPagesEntry" data-entryid="179418" class="WikispacesNavbarEntry WikispacesNavbarSortableEntry WikispacesNavbarRemovableEntry">
  <div class="WikispacesNavbarEntryHeader">
        <i class="WikispacesNavbarSpinner fa fa-spinner fa-spin pull-right"></i><span class="WikispacesNavbarHeaderAction WikispacesNavbarRemoveEntry close"><i class="fa fa-times"></i></span><span class="fa-fw"><i class="WikispacesNavbarToggle WikispacesNavbarPlus fa fa-caret-right"></i><i class="WikispacesNavbarToggle WikispacesNavbarMinus fa fa-caret-down"></i></span><span>All Pages</span>
  </div>
  <div class="WikispacesNavbarEntryItems" id="WikispacesNavbarAllPagesEntryItems">
    <span class="hidden WikispacesNavbarNum">20</span>
<ol>
  <li>
    <a href="../home-responseToken=04d8be3b5815f337cb624c839f082ad93.html" data-uniqid="32271775">home</a>
  </li>
  <li>
    <a href="../01-UNIT.html" data-uniqid="32271567">01-UNIT</a>
  </li>
  <li>
    <a href="../02-RESOURCES.html" data-uniqid="32271993">02-RESOURCES</a>
  </li>
  <li>
    <a href="../03-CLASSROOM+SCENARY.html" data-uniqid="32272177">03-CLASSROOM SCENARY</a>
  </li>
  <li>
    <a href="../04-MEDIATORS.html" data-uniqid="32272185">04-MEDIATORS</a>
  </li>
  <li>
    <a href="../05-OBSERVATIONS+AND+OUTCOMES.html" data-uniqid="32272213">05-OBSERVATIONS AND OUTCOMES</a>
  </li>
  <li>
    <a href="../06-ANEXES.html" data-uniqid="32272359">06-ANEXES</a>
  </li>
</ol>
  </div>
</div>  <div id="WikispacesNavbarTags">
    </div>
  <div id="WikispacesNavbarOptions" class="WikispacesNavbarEntry WikispacesContent WikispacesBs3">
    <div id="WikispacesNavbarOptionsEntryItems" class="WikispacesNavbarEntryItems">
      <form class="WikispacesNavbarNewTagNavbarForm" action="/navbar/tag" method="post">
        <div class="input-group">
          <input type="text" name="tagName" placeholder="Etiqueta" class="form-control" style="width: 135px;"/>
          <div class="input-group-btn">
            <button type="submit" name="submitTag" value="1" class="btn btn-default ws-btn-spinner"><span>Añadir</span></button>
          </div>
        </div>
      </form>
      <form class="WikispacesNavbarShowAllPagesForm text-center" action="/navbar/update/179418" method="post">
        <input type="hidden" name="status" value="A" />
        <button type="submit" class="btn btn-default WikispacesNavbarShowAllPages ws-btn-spinner hidden" name="go" value="1"><span>Add "All Pages"</span></button>
        <button type="button" class="btn btn-primary WikispacesNavbarEditDone">Done</button>
        <i class="fa fa-spinner fa-spin hidden"></i>
      </form>
    </div>
  </div>
</div><!-- ws:end:WikiTextIncludeRule:0 --></div>              <div class="ws-theme-nav-edit">
                              </div>
            </div>
          </div>
        </div>
      </nav>
      <main class="ws-theme-content" role="main">
        <div class="ws-theme-content-inner">
          <div class="contentBox"><div class="innerContentBox" id="WikiContent">
<div class="ws-menu-bar WikiControls WikispacesContent WikispacesBs3">
  
    <h1 class="pageTitle">Cambios Recientes</h1>
      <div class="btn-group pull-right">
          <a class="btn btn-default" href="http://cliluva-p5-sc-teresa.wikispaces.com/wiki/notify"><i class="fa fa-eye fa-fw"></i> Notification</a>          </div>
  </div>
<div class="WikispacesContent WikispacesBs3">

<form action="/wiki/changes" method="get"><input type="hidden" name="wikispacesFormToken" value="0080b3b000d99d3bc52279fe20d337e19f943957"/>

  <div class="form-group">
    <label class="checkbox-inline" for="showPage">
      <input type="checkbox" id="showPage" name="showPage" value="1" checked="checked" />
      Páginas    </label>

    <label class="checkbox-inline" for="showMsg">
      <input type="checkbox" id="showMsg" name="showMsg" value="1" checked="checked" />
      Mensajes    </label>

    <label class="checkbox-inline" for="showComment">
      <input type="checkbox" id="showComment" name="showComment" value="1" checked="checked" />
      Comentarios    </label>

    <label class="checkbox-inline" for="showFile">
      <input type="checkbox" id="showFile" name="showFile" value="1" checked="checked" />
      Archivos    </label>

        <label class="checkbox-inline" for="showTag">
      <input type="checkbox" id="showTag" name="showTag" value="1" checked="checked" />
      Etiquetas    </label>
    
        <label class="checkbox-inline" for="showUser">
      <input type="checkbox" id="showUser" name="showUser" value="1" checked="checked" />
      Miembros    </label>
    
    
          <input type="hidden" id="showWiki" name="showWiki" value="1" />
    
      </div>
  <div class="row">
          <div class="col-md-4 form-group">
              </div>
    
    <div class="col-md-3 form-group">
      <label for="quser" class="sr-only">Nombre de usuario</label>
      <input id="quser" type="text" name="quser" class="form-control" value="" placeholder="Nombre de usuario" />
    </div>

    <div class="col-md-3 form-group">
      <label for="userdateto" class="sr-only">Fecha</label>
      <input class="form-control" id="userdateto" autocomplete="off" type="text" name="userdateto" placeholder="Fecha"/>
      <input type="hidden" name="dateto" id="dateto" value="" />
    </div>

    <div class="col-md-2 form-group">
      <button type="submit" class="btn btn-default" name="go" value="1">Filtro</button>
    </div>
  </div>
</form>

<div id="WikiTableRecentChanges" class="cobWrapper"><a class="hidden cobUrl jssmLink" href="changes-latest_date_team=0&latest_id_team=0&latest_date_project=0&latest_id_project=0&latest_date_file=1263644966&latest_id_file=113871677&latest_date_page=1263645698&latest_id_page=113872531&latest_date_user_add=1263645698&latest_id-75e5cbcfcc883f47.html">&nbsp;</a>

                        <div class="ws-day-panel panel panel-default" data-date="20100130">
      <div class="panel-heading" data-toggle="collapse" data-target=".ws-day-panel[data-date=20100130] .ws-day-panel-body">
        <h3 class="panel-title">
          <span class="ws-collapse-icon-caret fa-fw"></span>
                                Saturday, January 30
                  </h3>
      </div>
      <ol class="ws-day-panel-body list-group collapse in">
  
  <li class="list-group-item">
    <div class="row">
                <span id="js-scroll-to" class="js-remove-on-callback"></span>
    
    <div class="col-md-9">
      <img src="http://c1.wikicdn.com/i/icon/changes-msg.png" alt="msg" width="16" height="16" />

                                                                <strong><a href="http://cliluva-p5-sc-teresa.wikispaces.com/message/view/02-RESOURCES/19516579">link for your unit</a></strong>
                message posted

        
        <span class="changeSnippet text-muted">
                      <span class="messageSummary"><span class="messageTitle">link for your unit</span> thank you very much , it'sa really good iea for the development of the unit</span>
            <div class="messageBody collapse">
              <div class="wiki"><span class="messageTitle">link for your unit</span><br />thank you very much , it'sa really good iea for the development of the unit</div>
            </div>
                  </span>
          </div> <!-- /col-md-9 -->

    <div class="col-md-3">
      <div class="row">
        <div class="col-md-offset-0 col-md-12 col-xs-offset-6 col-xs-6">
          <div class="pull-right text-right">
            <abbr class="WikispacesTooltip" title="Saturday, Jan 30, 2010 11:38 am">11:38 am</abbr>
          </div>
          <div class="pull-left"><a class="userLink" href="http://www.wikispaces.com/user/view/teresard" style="outline: none;"><img src="http://www.wikispaces.com/user/pic/teresard-lg.jpg" width="16" height="16" alt="teresard" class="userPicture" /></a> <a class="userLink" href="http://www.wikispaces.com/user/view/teresard" style="outline: none;">teresard</a></div>
        </div>
      </div>
    </div>
    </div>
  </li>
            
  <li class="list-group-item">
    <div class="row">
    
    <div class="col-md-9">
      <img src="http://c1.wikicdn.com/i/icon/changes-msg.png" alt="msg" width="16" height="16" />

                                                                <strong><a href="http://cliluva-p5-sc-teresa.wikispaces.com/message/view/02-RESOURCES/19510373">link for your unit</a></strong>
                message posted

        
        <span class="changeSnippet text-muted">
                      <span class="messageSummary"><span class="messageTitle">link for your unit</span> I have lready insert the link in your resources page. I think could be useful for your unit</span>
            <div class="messageBody collapse">
              <div class="wiki"><span class="messageTitle">link for your unit</span><br />I have lready insert the link in your resources page. I think could be useful for your unit</div>
            </div>
                  </span>
          </div> <!-- /col-md-9 -->

    <div class="col-md-3">
      <div class="row">
        <div class="col-md-offset-0 col-md-12 col-xs-offset-6 col-xs-6">
          <div class="pull-right text-right">
            <abbr class="WikispacesTooltip" title="Saturday, Jan 30, 2010 3:43 am">3:43 am</abbr>
          </div>
          <div class="pull-left"><a class="userLink" href="http://www.wikispaces.com/user/view/sproker" style="outline: none;"><img src="http://www.wikispaces.com/user/pic/sproker-lg.jpg" width="16" height="16" alt="sproker" class="userPicture" /></a> <a class="userLink" href="http://www.wikispaces.com/user/view/sproker" style="outline: none;">sproker</a></div>
        </div>
      </div>
    </div>
    </div>
  </li>
            
  <li class="list-group-item">
    <div class="row">
    
    <div class="col-md-9">
      <img src="http://c1.wikicdn.com/i/icon/changes-msg.png" alt="msg" width="16" height="16" />

                                                                <strong><a href="http://cliluva-p5-sc-teresa.wikispaces.com/message/view/02-RESOURCES/19510305">link for your unit</a></strong>
                message posted

        
        <span class="changeSnippet text-muted">
                      <span class="messageSummary"><span class="messageTitle">link for your unit</span> Your wiki is protected and I can not edit it. 
So I send you here a link instead of in the own page…</span>
            <div class="messageBody collapse">
              <div class="wiki"><span class="messageTitle">link for your unit</span><br />Your wiki is protected and I can not edit it.<br />
So I send you here a link instead of in the own page...<br />
<!-- ws:start:WikiTextUrlRule:3:http://www.crickweb.co.uk/assets/resources/flash.php?&amp;file=habitats4b --><a class="wiki_link_ext" href="http://www.crickweb.co.uk/assets/resources/flash.php?&file=habitats4b" rel="nofollow">http://www.crickweb.co.uk/assets/resources/flash.php?&amp;file=habitats4b</a><!-- ws:end:WikiTextUrlRule:3 --><br />
   Regards, Miguel Ángel</div>
            </div>
                  </span>
          </div> <!-- /col-md-9 -->

    <div class="col-md-3">
      <div class="row">
        <div class="col-md-offset-0 col-md-12 col-xs-offset-6 col-xs-6">
          <div class="pull-right text-right">
            <abbr class="WikispacesTooltip" title="Saturday, Jan 30, 2010 3:13 am">3:13 am</abbr>
          </div>
          <div class="pull-left"><a class="userLink" href="http://www.wikispaces.com/user/view/sproker" style="outline: none;"><img src="http://www.wikispaces.com/user/pic/sproker-lg.jpg" width="16" height="16" alt="sproker" class="userPicture" /></a> <a class="userLink" href="http://www.wikispaces.com/user/view/sproker" style="outline: none;">sproker</a></div>
        </div>
      </div>
    </div>
    </div>
  </li>
                          </ol><!-- /.ws-day-panel-body --></div>
        <div class="ws-day-panel panel panel-default" data-date="20100116">
      <div class="panel-heading" data-toggle="collapse" data-target=".ws-day-panel[data-date=20100116] .ws-day-panel-body">
        <h3 class="panel-title">
          <span class="ws-collapse-icon-caret fa-fw"></span>
                                Saturday, January 16
                  </h3>
      </div>
      <ol class="ws-day-panel-body list-group collapse in">
  
  <li class="list-group-item">
    <div class="row">
    
    <div class="col-md-9">
      <img src="http://c1.wikicdn.com/i/icon/changes-page.png" alt="page" width="16" height="16" />

              
                  04-OBSERVATIONS AND OUTCOMES <em>(deleted)</em>
                edited

        
        <span class="changeSnippet text-muted">
                  </span>
          </div> <!-- /col-md-9 -->

    <div class="col-md-3">
      <div class="row">
        <div class="col-md-offset-0 col-md-12 col-xs-offset-6 col-xs-6">
          <div class="pull-right text-right">
            <abbr class="WikispacesTooltip" title="Saturday, Jan 16, 2010 4:41 am">4:41 am</abbr>
          </div>
          <div class="pull-left"><a class="userLink" href="http://www.wikispaces.com/user/view/teresard" style="outline: none;"><img src="http://www.wikispaces.com/user/pic/teresard-lg.jpg" width="16" height="16" alt="teresard" class="userPicture" /></a> <a class="userLink" href="http://www.wikispaces.com/user/view/teresard" style="outline: none;">teresard</a></div>
        </div>
      </div>
    </div>
    </div>
  </li>
            
  <li class="list-group-item">
    <div class="row">
    
    <div class="col-md-9">
      <img src="http://c1.wikicdn.com/i/icon/changes-page.png" alt="page" width="16" height="16" />

              
                  004-MEDIATORS <em>(deleted)</em>
                edited

        
        <span class="changeSnippet text-muted">
                  </span>
          </div> <!-- /col-md-9 -->

    <div class="col-md-3">
      <div class="row">
        <div class="col-md-offset-0 col-md-12 col-xs-offset-6 col-xs-6">
          <div class="pull-right text-right">
            <abbr class="WikispacesTooltip" title="Saturday, Jan 16, 2010 4:41 am">4:41 am</abbr>
          </div>
          <div class="pull-left"><a class="userLink" href="http://www.wikispaces.com/user/view/teresard" style="outline: none;"><img src="http://www.wikispaces.com/user/pic/teresard-lg.jpg" width="16" height="16" alt="teresard" class="userPicture" /></a> <a class="userLink" href="http://www.wikispaces.com/user/view/teresard" style="outline: none;">teresard</a></div>
        </div>
      </div>
    </div>
    </div>
  </li>
            
  <li class="list-group-item">
    <div class="row">
    
    <div class="col-md-9">
      <img src="http://c1.wikicdn.com/i/icon/changes-page.png" alt="page" width="16" height="16" />

              
                  04-OBSERVATIONS AND OUTCOMES <em>(deleted)</em>
                edited

        
        <span class="changeSnippet text-muted">
                  </span>
          </div> <!-- /col-md-9 -->

    <div class="col-md-3">
      <div class="row">
        <div class="col-md-offset-0 col-md-12 col-xs-offset-6 col-xs-6">
          <div class="pull-right text-right">
            <abbr class="WikispacesTooltip" title="Saturday, Jan 16, 2010 4:41 am">4:41 am</abbr>
          </div>
          <div class="pull-left"><a class="userLink" href="http://www.wikispaces.com/user/view/teresard" style="outline: none;"><img src="http://www.wikispaces.com/user/pic/teresard-lg.jpg" width="16" height="16" alt="teresard" class="userPicture" /></a> <a class="userLink" href="http://www.wikispaces.com/user/view/teresard" style="outline: none;">teresard</a></div>
        </div>
      </div>
    </div>
    </div>
  </li>
            
  <li class="list-group-item">
    <div class="row">
    
    <div class="col-md-9">
      <img src="http://c1.wikicdn.com/i/icon/changes-page.png" alt="page" width="16" height="16" />

              
                  004-MEDIATORS <em>(deleted)</em>
                edited

        
        <span class="changeSnippet text-muted">
                  </span>
          </div> <!-- /col-md-9 -->

    <div class="col-md-3">
      <div class="row">
        <div class="col-md-offset-0 col-md-12 col-xs-offset-6 col-xs-6">
          <div class="pull-right text-right">
            <abbr class="WikispacesTooltip" title="Saturday, Jan 16, 2010 4:40 am">4:40 am</abbr>
          </div>
          <div class="pull-left"><a class="userLink" href="http://www.wikispaces.com/user/view/teresard" style="outline: none;"><img src="http://www.wikispaces.com/user/pic/teresard-lg.jpg" width="16" height="16" alt="teresard" class="userPicture" /></a> <a class="userLink" href="http://www.wikispaces.com/user/view/teresard" style="outline: none;">teresard</a></div>
        </div>
      </div>
    </div>
    </div>
  </li>
            
  <li class="list-group-item">
    <div class="row">
    
    <div class="col-md-9">
      <img src="http://c1.wikicdn.com/i/icon/changes-page.png" alt="page" width="16" height="16" />

              
                  <strong><a href="../05-OBSERVATIONS+AND+OUTCOMES.html">05-OBSERVATIONS AND OUTCOMES</a></strong>
                edited

        
        <span class="changeSnippet text-muted">
                                  <span class="messageSummary"> Type in the content of your page here.  
</span>
                          <div class="messageBody collapse">
                <div class="wiki"><ins class="ws-diff-insert">Type in the content of your page here.</ins><br/>
</div>
                            <a class="changeLink" href="http://cliluva-p5-sc-teresa.wikispaces.com/page/diff/05-OBSERVATIONS+AND+OUTCOMES/113872397">(view changes)</a>
                          </div>
                              </span>
          </div> <!-- /col-md-9 -->

    <div class="col-md-3">
      <div class="row">
        <div class="col-md-offset-0 col-md-12 col-xs-offset-6 col-xs-6">
          <div class="pull-right text-right">
            <abbr class="WikispacesTooltip" title="Saturday, Jan 16, 2010 4:39 am">4:39 am</abbr>
          </div>
          <div class="pull-left"><a class="userLink" href="http://www.wikispaces.com/user/view/teresard" style="outline: none;"><img src="http://www.wikispaces.com/user/pic/teresard-lg.jpg" width="16" height="16" alt="teresard" class="userPicture" /></a> <a class="userLink" href="http://www.wikispaces.com/user/view/teresard" style="outline: none;">teresard</a></div>
        </div>
      </div>
    </div>
    </div>
  </li>
            
  <li class="list-group-item">
    <div class="row">
    
    <div class="col-md-9">
      <img src="http://c1.wikicdn.com/i/icon/changes-page.png" alt="page" width="16" height="16" />

              
                  <strong><a href="../04-MEDIATORS.html">04-MEDIATORS</a></strong>
                edited

        
        <span class="changeSnippet text-muted">
                                  <span class="messageSummary"> Type in the content of your page here.  
</span>
                          <div class="messageBody collapse">
                <div class="wiki"><ins class="ws-diff-insert">Type in the content of your page here.</ins><br/>
</div>
                            <a class="changeLink" href="http://cliluva-p5-sc-teresa.wikispaces.com/page/diff/04-MEDIATORS/113872345">(view changes)</a>
                          </div>
                              </span>
          </div> <!-- /col-md-9 -->

    <div class="col-md-3">
      <div class="row">
        <div class="col-md-offset-0 col-md-12 col-xs-offset-6 col-xs-6">
          <div class="pull-right text-right">
            <abbr class="WikispacesTooltip" title="Saturday, Jan 16, 2010 4:39 am">4:39 am</abbr>
          </div>
          <div class="pull-left"><a class="userLink" href="http://www.wikispaces.com/user/view/teresard" style="outline: none;"><img src="http://www.wikispaces.com/user/pic/teresard-lg.jpg" width="16" height="16" alt="teresard" class="userPicture" /></a> <a class="userLink" href="http://www.wikispaces.com/user/view/teresard" style="outline: none;">teresard</a></div>
        </div>
      </div>
    </div>
    </div>
  </li>
            
  <li class="list-group-item">
    <div class="row">
    
    <div class="col-md-9">
      <img src="http://c1.wikicdn.com/i/icon/changes-page.png" alt="page" width="16" height="16" />

              
                  <strong><a href="../03-CLASSROOM+SCENARY.html">03-CLASSROOM SCENARY</a></strong>
                edited

        
        <span class="changeSnippet text-muted">
                                  <span class="messageSummary"> Type in the content of your page here.  
</span>
                          <div class="messageBody collapse">
                <div class="wiki"><ins class="ws-diff-insert">Type in the content of your page here.</ins><br/>
</div>
                            <a class="changeLink" href="http://cliluva-p5-sc-teresa.wikispaces.com/page/diff/03-CLASSROOM+SCENARY/113872327">(view changes)</a>
                          </div>
                              </span>
          </div> <!-- /col-md-9 -->

    <div class="col-md-3">
      <div class="row">
        <div class="col-md-offset-0 col-md-12 col-xs-offset-6 col-xs-6">
          <div class="pull-right text-right">
            <abbr class="WikispacesTooltip" title="Saturday, Jan 16, 2010 4:38 am">4:38 am</abbr>
          </div>
          <div class="pull-left"><a class="userLink" href="http://www.wikispaces.com/user/view/teresard" style="outline: none;"><img src="http://www.wikispaces.com/user/pic/teresard-lg.jpg" width="16" height="16" alt="teresard" class="userPicture" /></a> <a class="userLink" href="http://www.wikispaces.com/user/view/teresard" style="outline: none;">teresard</a></div>
        </div>
      </div>
    </div>
    </div>
  </li>
</ol><!-- /.ws-day-panel-body -->
</div>

<p class="text-center js-remove-on-callback">
  <a href="changes-latest_date_team=0&latest_id_team=0&latest_date_project=0&latest_id_project=0&latest_date_file=1263644966&latest_id_file=113871677&latest_date_page=1263645498&latest_id_page=113872295&latest_date_user_add=1263645498&latest_id-10ac8896ff49e010.html" id="pagerNext" class="btn btn-default pagerLink">More</a>
</p>
</div>

</div></div></div><div id="sentinel" style="clear:both"></div>        </div>
      </main>
    </div>
  </div>
</div>

<footer class="ws-theme-footer" role="contentinfo">
  <div class="ws-theme-container">
    <div class="ws-theme-footer-inner">
      <div class="WikiFooterNav WikiElement">
<a href="http://helpcenter.wikispaces.com/" rel="nofollow" class="js-help-trigger">Ayuda</a> &middot;
<a href="http://www.wikispaces.com/about">Acerca de</a> &middot;
<a href="http://www.wikispaces.com/content/pricing" rel="nofollow">Precio</a> &middot;
<a href="http://www.wikispaces.com/privacy" rel="nofollow">Privacidad</a> &middot;
<a href="http://www.wikispaces.com/terms" rel="nofollow">Términos</a> &middot;
<a href="http://www.wikispaces.com/site/help?url=http://cliluva-p5-sc-teresa.wikispaces.com/wiki/changes?latest_date_team=0&latest_id_team=0&latest_date_project=0&latest_id_project=0&latest_date_file=1263644966&latest_id_file=113871677&latest_date_page=1263645698&latest_id_page=113872531&latest_date_user_add=1263645698&latest_id_user_add=0&latest_date_user_del=1263645698&latest_id_user_del=0&latest_date_tag_add=1263645698&latest_id_tag_add=0&latest_date_tag_del=1263645698&latest_id_tag_del=0&latest_date_wiki=1263641798&latest_id_wiki=3130207&o=12" rel="nofollow"><strong>Apoyo</strong></a> &middot;
<a href="/space/subscribe/upgrade"><strong>Elevar de categoría</strong></a>
</div>      <div class="WikiLicense WikiElement">Contributions to http://cliluva-p5-sc-teresa.wikispaces.com/ are licensed under a <a rel="license" href="http://www.creativecommons.org/licenses/by-sa/3.0">Creative Commons Attribution Share-Alike 3.0 License</a>. <a rel="license" href="http://www.creativecommons.org/licenses/by-sa/3.0"><img src="http://c1.wikicdn.com/i/creativecommons/by-sa_3.0_80x15.png" width="85" height="15" alt="Creative Commons Attribution Share-Alike 3.0 License"/></a><br />Portions not contributed by visitors are Copyright 2018 Tangient LLC<br /><a href="https://www.tes.com/us/?utm_source=wikispaces&utm_medium=link&utm_campaign=US-52-footer">TES: The largest network of teachers in the world</a></div>    </div>
  </div>
</footer>


<script type="text/template" id="dialog-template">
<div class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
        <h4 class="modal-title"><%= header %></h4>
      </div>
      <div class="modal-body">
        <%= body %>
      </div>
    </div>
  </div>
</div>
</script>


<div id="js-help-template" class="hidden">
  <div class="ws-help">
    <div class="js-help-controls WikispacesContent WikispacesBs3">
      <a href="http://www.wikispaces.com/site/gettingstarted/off" class="btn btn-default hidden js-getting-started-off pull-right">Turn off "Getting Started"</a>
      <ol class="breadcrumb">
        <li class="js-special-breadcrumb active">
          <a href="http://helpcenter.wikispaces.com/" data-breadcrumb="0">Página de inicio</a>
        </li>
        <li class="js-ellipsis hidden js-special-breadcrumb">
          ...
        </li>
        <li class="js-spinner hidden js-special-breadcrumb"><i class="fa fa-spinner fa-spin"></i></li>
      </ol>
    </div>
    <div class="ws-help-content wiki">Cargando...</div>
  </div>
</div>
</div>
<script src="http://c1.wikicdn.com/s/gz/v32k8v1x-common.min.js" type="text/javascript"></script>
<script type="text/javascript">
<!--

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

jQuery(document).ready(function() {
  ws.common.addJsonNotices({"warning":[],"error":[],"info":[],"success":[]});
});

jQuery(document).ready(function() {
  ws.common.addNotice("<script type=\"text\/javascript\">function wsDismissBanner() { ws.common.removeNotice();  ws.cookie.set(\"wsAnnouncement\", 1, {expires: 365 * 86400, domain: \".wikispaces.com\"}); return false;}$(\".ui-pnotify-closer\").remove();<\/script><i class=\"fa fa-times fa-fw ws-close\" onclick=\"wsDismissBanner();\"><\/i>It's time for us to say farewell\u2026 Regretfully, we've made the tough decision to close Wikispaces. Find out why, and what will happen, <a href='http:\/\/blog.wikispaces.com' target='_top'>here<a\/>", "warning");
});

jQuery(document).ready(function($) {
  function yymmddToJsDate(dateStr) {
    return new Date(dateStr.slice(0, 4), dateStr.slice(4, 6) - 1, dateStr.slice(6, 8));
  }

  if ($.datepicker.regional[ws.context.user.locale]) {
    $.datepicker.setDefaults($.datepicker.regional[ws.context.user.locale]);
  } else {
    $.datepicker.setDefaults($.datepicker.regional['']);
  }

  $('#userdateto').datepicker({maxDate: 0, altField: '#dateto', altFormat: 'yymmdd'});
  if ($('#dateto').val()) {
    $('#userdateto').datepicker('setDate', yymmddToJsDate($('#dateto').val()));
  }
  $('#userdateto').closest('form').submit(function() {
    if ($('#datefrom').val() > $('#dateto').val()) {
      alert('The starting date must not be later than the ending date.');
      return false;
    }
  });
});


jQuery(document).ready(function($) {
  
  var tipPlacement = 'bottom';
  

  $('.ws-menu-bar').each(function() {
    var $menuBar = $(this);
    var $tagDropdown = $menuBar.find('.ws-tag-dropdown-menu');
    $menuBar.find('.tipme').tooltip({placement: tipPlacement, container: '.ws-menu-bar'});

    
  });
});


jQuery(document).ready(function () {
  ws.cob.makeCallback("WikiTableRecentChanges", function() {})();
});

jQuery(document).ready(function () {
  ws.cob.associateCallback("WikiTableRecentChanges", "recentCallback");
});

jQuery(document).ready(function($) {
  ws.cob.enableState = false;
  $(document).tipsy({ live: '.WikispacesTooltip' });

  $('.cobWrapper').on('click', '.messageSummary', function(event) {
    console.log('summaryclick', $(this).nextAll('.messageBody'));
    $(this).hide().nextAll('.messageBody').collapse('toggle');
  }).on('click', '.messageBody .wiki', function(event) {
    console.log('bodyclick', $(this).closest('.messageBody'));
    var $summary = $(this).closest('.messageBody').collapse('toggle').prevAll('.messageSummary').show();

    if (!$summary.is(":inView")) {
      $.scrollTo($summary, { axis: "y"});
    }
  });

  ws.cob.registerCallback('recentCallback', function(table, html) {
    table = $(table);
    table.find('.js-remove-on-callback, .cobUrl').remove();

    var newHtml = $('<div>').html(html);

    var lastDiv = table.find('.ws-day-panel:last')
    var firstDiv = newHtml.find('.ws-day-panel:first');

    if (firstDiv.data('date') == lastDiv.data('date')) {
      lastDiv.find('.ws-day-panel-body')
        .append(firstDiv.find('.ws-day-panel-body').contents())
        .collapse({ toggle: false }).collapse('show');
      lastDiv.find('.panel-heading').removeClass('collapsed');

      firstDiv.remove();
    }

    table.append(newHtml.contents());

    if (!$('#js-scroll-to').is(":inView")) {
      $.scrollTo('#js-scroll-to', { axis: "y"});
    }
  });
});



--></script><!-- w22 676 cass:97:475(5) dql:3:21(11) mem:3:14(32) tot:676:676(1) wki:5:5(1) -->

</body>
</html>